@import "stylesheets/fadeinall.css";

/* Define color variables */
:root {
  --color-background: #FFFDF5;
  --color-text-primary: rgb(58, 58, 58);
  --color-text-secondary: rgb(115, 115, 115);
  --color-text-tertiary: rgb(159, 159, 159);
  --color-shadow: rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: Chivo;
  src: url('resources/fonts/chivo/Chivo-Light.otf');
  font-weight: normal;
}

@font-face {
  font-family: Chivo;
  src: url('resources/fonts/chivo/Chivo-Regular.otf');
  font-weight: bold;
}

/************************/

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
}

.container {
  font-family: "Chivo";
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  align-self: center;
  padding-bottom: 10vw;
  text-shadow: 0 1px 4px var(--color-shadow);
  width: fit-content;
  max-width: 49rem;
}

.banner {
  display: flex;
  align-items: center;
  padding: 2rem 4vw;

  img {
    width: 42px;
    margin-right: 1rem;
  }
}

.bio {
  width: 100%;
  display: none;
  font-style: italic;
  color: var(--color-text-secondary);
  text-shadow: 0 1px 4px var(--color-shadow);
}

.intro__pic {
  display: block;
  border-radius: 10px;
  height: 145px;
  box-shadow: 0 0 10px 0 var(--color-shadow);
}

.intro__text {
  align-self: center;
  color: var(--color-text-primary);
}

.intro__text--line {
  display: block;
  white-space: nowrap;
  padding-bottom: 10px;
}

.intro__text--linebreak {
  white-space: nowrap;  
}

.nav {
  margin-top: 1.5rem;

  >.nav__list {
    margin-bottom: 3rem;
    li {
      margin-top: 5px;
      margin-bottom: unset;
    }
  }
}

.nav__section h3 {
  margin-bottom: 10px;
  color: var(--color-text-secondary);
  font-size: 1.25rem;
  font-weight: normal;
  border-bottom: 0.5px solid var(--color-text-secondary);
  padding-bottom: 5px;
}


.nav__list {
  padding-left: 20px;
  margin-bottom: 30px;

  li {
    margin-bottom: .8rem;
    color: var(--color-text-secondary);

    &::marker {
      color: var(--color-text-secondary)
    }

    a {
      color: var(--color-text-primary);
      text-decoration: underline;
      text-decoration-color: var(--color-text-secondary);

      &:hover {
        color: var(--color-text-secondary);
      }
    }
  }
}

span.material-symbols-rounded {
  vertical-align: bottom;
  color: var(--color-text-secondary);
  font-size: 0.8em;
  vertical-align: middle;
  position: relative;
  bottom: 3px;
}

.cc {
  color: var(--color-text-tertiary);
  margin-top: auto;
  padding-bottom: 2px;
  padding-left: 8px;
}

/************************/

/* Small devices */
@media only screen and (max-width: 599px) {
  .content {
    margin: 0 2rem;
  }

  .bio--mobile {
    display: block !important;
    max-width: 360px;
  }

  .intro__pic {
    margin: 0 0 20px 0;
  }

  .intro__text--line {
    padding-bottom: 8px;
  }

  .intro {
    margin-left: 1.2rem !important;
  } 

  .nav {
    margin-top: 2.5rem !important;
  
    >.nav__list {
      margin-bottom: 2rem !important;
    }
  }
}

/* Medium and large devices */
@media only screen and (min-width: 600px) {
  .content {
    margin: 0 8rem;
  }

  .bio--desktop {
    display: block !important;
    margin-top: 1rem;
  }
  
  .intro__text--line {
    padding-bottom: 10px;
  }
  
  .intro {
    display: inline-flex;
    column-gap: 30px;
  } 
}
